{% extends "workshop/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
        <div class="row">
                <div class="col-md-8 col-sm-12">
                    {% if messages %}
                <div class="mt-4">
                    {% for message in messages %}
                    <div class="d-flex justify-content-center links">
                        {{ message }}
                    </div>  
                    {% endfor %}        
                </div>
                {% endif %}
                        <div class="content-section mt-3">
                              <div class="media">
                                <img class="rounded-circle account-img" src="{{ user_data.profile.image.url }}">
                                <div class="media-body">
                                  <h3 class="account-heading">{{ user_data.username }}</h3>
                                  <p class="text-secondary">{{ user_data.email }}</p>
                                        {% if user_data.profile.bio %}
                                   <p>{{ user_data.profile.bio }}</p>
                                        {% endif %}
                                </div>
                                </div>
                            {% if user == user_data %}
                                <div class="edit-profile">
                                    <a href="{% url 'update-profile' %}" class="btn btn-outline-primary">Edit Profile</a>
                                </div>
                                {% endif %}


                        </div>
                </div>
                <div class="col"></div>
        </div>

{% endblock content %}